<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Server Down</title>
</head>
<body>
	{{> header}}
	<h1>Server is currently down for Maintenance.
	We'll be right back!</h1>
	<p>We apologize for your inconvenience. This site is currently being updated. Thank you</p>
	{{> footer}}
</body>
</html>